<div class="row">
    {{#each notes}}
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title d-flex justify-content-between align-items-center">
                 {{title}} <a href="notes/edit/{{id}}"><i class="fas fa-edit"></i> </i></a>      
                </h4>
                <p>{{descripcion}}</p>
                <form action="/notes/delete/{{_id}}?_method=DELETE" method="POST">
                  <input type="hidden" name="_method" value="DELETE">
                   <button class="btn btn-danger btn-block btn-sm">
                    DELETE
                   </button>
                </form>
            </div>
        </div>
    </div>
    {{else}}
    <div class="card mx-auto">
        <div class="card-body">
            <h2 class="mx-auto" style="text-align: center">Hola {{user.name}}</h2>
            <p class="lead"><strong>Todavia no has creado Notas<strong></p>
            <a href="/notes/add" class ="btn btn-success btn-block">Crea Una!!!</a>
        </div>
    </div>
    {{/each}}
</div>